<div class="login_div" style="margin-top: 0px;  text-align: center ", ng-controller="LoginCtrl">
<body>
<form ng-controller="LoginCtrl" ng-submit="submit()">

    <div class="login" style="margin-top: 140px">
        <h2>Ielogoties</h2>
        <fieldset>
            <input class="login-form" type="text" placeholder="E-mail" ng-model="email" name="email" required>
        </fieldset>
        <fieldset>
            <input class="login-form" type="password" placeholder="Parole" ng-model="password" name="password" required>
        </fieldset>
        <fieldset>
           <button class="login_button" type="submit">LOGIN</button>
        </fieldset>
        <fieldset>
            <p><a href="#"></a>Reģistrēties
        </fieldset>
    </div>
</form>
</body>
</div>
